@{
    ViewData["Title"] = "About";
}
<section class="py-5 z-index-1" style="margin-bottom: -10rem">

    <div class="container">
        <div class="card py-5 px-5 border-0 shadow-sm">
            <div class="card-body">
                <div class="row flex-center">
                    <div class="col-12 col-lg-12 text-lg-start">
                        <h2>Our Team</h2>
                        <div class="row h-100 justify-content-center">
                            <div class="col-md-4 pt-4 px-md-2 px-lg-3">
                                <div class="card h-100">
                                    <div class="card-body d-flex flex-column justify-content-around mx-auto">
                                        <div class="text-center pt-5">
                                            <img class="img-fluid" src="/img/pradeep.png" alt="" />
                                            <h5 class="my-4">Pradeep</h5>
                                            <h6 class="text-muted">MASTER OF SCIENCE IN BUSINESS ANALYTICS</h6>
                                        </div>
                                        <ul class="list-unstyled">
                                            <li class="mb-3 text-center">
                                                An experienced Full Stack Developer and a passionate UI/UX Developer, and is the key contributor to the web page. His responsibilities included creating the Welcome Page, designing the styles and theme and assisted other team members with their
                                            </li>
                                        </ul>
                                        <div class="text-center my-5">
                                            <h2 class="mb-3">
                                                Github
                                            </h2>
                                            <a class="btn btn-outline-danger rounded-pill" href="https://github.com/MadirajuPradeep/DIS-Project">Github Project</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 pt-4 px-md-2 px-lg-3">
                                <div class="card h-100">
                                    <div class="card-body d-flex flex-column justify-content-around mx-auto">
                                        <div class="text-center pt-5">
                                            <img class="img-fluid" src="/img/priya.png" alt="" />
                                            <h5 class="my-4">Priya</h5>
                                            <h6 class="text-muted">MASTER OF SCIENCE IN BUSINESS ANALYTICS</h6>
                                        </div>
                                        <ul class="list-unstyled">
                                            <li class="mb-3 text-center">
                                                A fun loving and aspiring Data Analyst exploring Full Stack and Web Application Development. She was responsible for creating the About Us page and designing the Data Model for this project, along with assisting my team with the content.
                                            </li>
                                        </ul>
                                        <div class="text-center my-5">
                                            <h2 class="mb-3">
                                                Github
                                            </h2>
                                            <a class="btn btn-outline-danger rounded-pill" href="https://github.com/PriyaChowdaryMovva/DIS-Project">Github Project</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 pt-4 px-md-2 px-lg-3">
                                <div class="card h-100">
                                    <div class="card-body d-flex flex-column justify-content-around mx-auto">
                                        <div class="text-center pt-5">
                                            <img class="img-fluid" src="/img/anusha.png" alt="" />
                                            <h5 class="my-4">Anusha</h5>
                                            <h6 class="text-muted">MASTER OF SCIENCE IN BUSINESS ANALYTICS</h6>
                                        </div>
                                        <ul class="list-unstyled">
                                            <li class="mb-3 text-center">
                                                Anusha Kamath A graduate student in Business Analytics and Information System at USF, Anusha has 4 years of experience in Automation Testing and Business Intelligence. She assisted in formulating the data model and is responsible for designing the nutrition tracker page for the website.
                                            </li>
                                        </ul>
                                        <div class="text-center my-5">
                                            <h2 class="mb-3">
                                                Github
                                            </h2>
                                            <a class="btn btn-outline-danger rounded-pill" href="https://github.com/avkamath/DIS-Project">Github Project</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        
                        
                        
                        <hr/>
                        
                        <h3>Database Diagram </h3>
                        <img src="/img/drg.png" class="img-fluid"/>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of .container-->

</section>