@{
    ViewData["Title"] = "Home Page";
}



<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="pb-6">

    <div class="container">
        <div class="row flex-center">
            <div class="col-lg-6 col-md-5 order-md-1"><img class="img-fluid" src="/img/illustrations/3.jpg" alt="" /></div>
            <div class="col-md-7 col-lg-6 mt-5 text-center text-md-start">
                <h1 class="fw-medium">Next Generation Health - 
                    <br /> <span>to your Rescue!</span></h1>
                <p class="mt-3 mb-4">
                    Knowing your food better is just one click away!
                </p><a class="btn btn-lg btn-danger hover-top btn-glow" href="@Url.Action("Trackers","Home")" 
                       target="_blank">Search</a>
            </div>
        </div>
    </div>
    <!-- end of .container-->

</section>
<!-- <section> close ============================-->
<!-- ============================================-->


  <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="pt-4 pt-md-6">

        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-5 col-lg-7 text-lg-center"><img class="img-fluid mb-5 mb-md-0" src="/img/illustrations/2.png" alt="" /></div>
            <div class="col-md-7 col-lg-5 text-center text-md-start">
              <h2>We Provide Many <br />Features You Can Use</h2>
              <div class="d-flex">
                <svg class="bi bi-check-circle-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#2FAB73" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
                </svg>
                <p class="ms-2">Choose from your favorite brands.</p>
              </div>
              <div class="d-flex">
                <svg class="bi bi-check-circle-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#2FAB73" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
                </svg>
                <p class="ms-2">Planning your meals now at your fingertips.</p>
              </div>
              <div class="d-flex">
                <svg class="bi bi-check-circle-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#2FAB73" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
                </svg>
                <p class="ms-2">Meet your nutrition goals.</p>
              </div>
              @*<div class="d-flex">
                <svg class="bi bi-check-circle-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#2FAB73" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
                </svg>
                <p class="ms-2">Contact info .</p>
              </div>*@
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->

